<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CHAMBITAS LAGUNA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/servicios">Servicios</a>
          <a class="nav-link" href="#">Cotizaciones</a>
          <a class="nav-link" href="/nosotros">Quienes somos</a>
          <a class="nav-link disabled">Carrito de servicios</a>
        </div>
      </div>
    </nav>