<%- include layouts/header.ejs %>
<div class="container">
  <h1><%= title %></h1>

  <div class="jumbotron">
    <h1 class="display-4">Hola Racita</h1>
    <p class="lead">Quuienes somos pues la verdad somo unos macho pelo en pecho que quieren dinero ofreciendo servicios cualquiera que quieran.</p>
    <hr class="my-4">
    <p>Nuesta mision ganar dinero , nuestra vision ganar dinero y nuestros valores es solo aceptar a hombre chiludoso</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Saber mas</a>
  </div>

</div>

<%- include layouts/footer.ejs %>

